<!DOCTYPE html>
<html>
<head>
    <title>Scribes List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Scrib App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Scribes List</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Availability</th>
            <th>Contact</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for scribe in scribs %}
            <tr>
                <td>{{ scribe.username }}</td>
                <td>{% if scribe.availability %}
                    <span class="badge ">Available</span>

                {% else %}
                    <span class="badge ">Not Available</span>
                {% endif %}

                </td>
                <td>
                    {{ scribe.email }}
                </td>
                <td>  {% if is_challenged_user %}
                    <a href="{% url 'book-scribe' exam_id scribe.id %}" class="btn btn-outline-success mb-3"> Book
                        Scribe</a>
                {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
