<!DOCTYPE html>
<html>
<head>
    <title>Events List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Scrib App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Events List</h1>
    {% if is_admin_user %}
        <a href="{% url 'create_exam' %}" class="btn btn-primary mb-3">Create Event</a>
        <a href="" class="btn btn-outline-info mb-3">Create Bulk Events</a>
    {% endif %}

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Tickets Available</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                <td>{{ exam.name }}</td>
                <td>{{ exam.date }}</td>
                <td>{{ exam.tickets_available }}</td>
            <td>  {% if is_challenged_user %}
                <a href="{% url 'scribe-list' exam.id %}" class="btn btn-outline-primary mb-3">view scribes</a>
                {% endif %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
